:root {
    /* COLOR THEME */
    --primary-green: #084534;
    --accent-green: #5DB527;
    --accent-teal: #0F8060;
    --accent-pink: #FCA894;
    --accent-yellow: #FCC737;
    --primary-sand: #F0EDE4;
    --reg-font: "NeuePlak", 400, sans-serif;
    --semi-bold-font: "NeuePlak", 600, sans-serif;
    --reg-font: 400 16px "NeuePlak", sans-serif;
    --semi-bold-font: 600 16px "NeuePlak", sans-serif;
    --heading-one-font: 400 64px "NeuePlak", sans-serif;
    --heading-two-font: 700 32px "NeuePlak", sans-serif;
    --heading-three-font: 400 16px "NeuePlak", sans-serif;
    --Default-FontSz: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);

}

@layer modules{
    .button{
        border: 1px solid var(--primary-green);
        background-color: var(--primary-green);
        font: var(--semi-bold-font);
        cursor: pointer;
        color: #fff;
        padding: 12px 26px;
        border-radius: 36px;
        
        &:hover{
            background-color: transparent;
            color: var(--primary-green);
        }
    }
    .button--transparent{
        background-color: transparent;
        color: var(--primary-green);
        &:hover{
            background-color: var(--primary-green);
            color: #fff;
        }
    }
}