@font-face{
    font-family: 'Esteban';
    src: url('./fonts/Esteban-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --Esteban: 'Esteban', sans-serif; 
    --Plum: #824C71;
    --Mint-Green: #8FD694;
    --Teal: #366B69;
    --Peachy: #FFB4A2;
    --Accent-Green: #B6D094;
    --Light-Mint-Grey: #ECF6EB;
    --Med-Mint-Grey: #CADBC8;
    --Dark-Mint-Grey: #98A697;
    --Font-Size: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* @layer global, layout, modules, utilities;  */

@layer layout {
    @layer header{
        header{
            text-align: right;
        }
    }
    @layer login-registration{
        .login-registration{
            display: grid;
            grid-template-columns: 2fr, 1fr;
        }
    }
}
