@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlakText-Regular.ttf");
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-Bold.ttf");
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-ExtraBlack.ttf");
    font-weight: 900; /* Extra Black weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-Light.ttf");
    font-weight: 300; /* Light weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-Regular.ttf");
    font-weight: 400; /* Regular weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-SemiBold.ttf");
    font-weight: 600; /* Semi-Bold weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-Thin.ttf");
    font-weight: 100; /* Thin weight */
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak-UltraLight.ttf");
    font-weight: 100; /* Ultra Light weight */
}

/* WebApp Variables */
:root {
    /* COLOR THEME */
    --primary-green: #084534;
    --accent-green: #5DB527;
    --accent-teal: #0F8060;
    --accent-pink: #FCA894;
    --accent-yellow: #FCC737;
    --Light-Mint-Grey: #ECF6EB;
    --main-bg-white: #F0EDE4;
    /* TYPOGRAPHY */
    --reg-font: 400 16px "NeuePlak", sans-serif;
    --semi-bold-font: 600 16px "NeuePlak", sans-serif;
    --heading-one-font: 400 64px "NeuePlak", sans-serif;
    --heading-two-font: 700 32px "NeuePlak", sans-serif;
    --heading-three-font: 400 16px "NeuePlak", sans-serif;
    --Default-FontSz: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);
}


/* @layer global, layout;  */

@layer Global {
    /* @media (prefers-color-scheme: dark){
        html{
            background-color: #62B92B;
        }
    }
    @media (prefers-color-scheme: light) {
        html{
            background-color: yellow;
        }
    } */

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    html,
    body {
        height: 100%;
    }

    /*
        Typographic tweaks!
        4. Add accessible line-height
        5. Improve text rendering
      */
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        font: var(--reg-font);
    }

    /*
        6. Improve media defaults
      */
    img,
    picture,
    video,
    canvas
    {
        display: block;
        max-width: 100%;
    }

    /*
        7. Remove built-in form typography styles
      */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /*
        8. Avoid text overflows
      */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
        text-wrap: pretty;
        color: #000;
    }

    /*
        9. Create a root stacking context
      */
    #root,
    #__next {
        isolation: isolate;
    }
}
@layer layout{
    .centered-margin{
        margin: 0 auto;
    }
    .landscape-flex-2{
        display: flex;
        
    }
}